:root {
	--primary: rgb(32, 34, 32);
	--backgrond-primary: rgb(21, 23, 21);
	--text-primary: rgb(220, 230, 220);
	
	--secondary: rgb(50, 50, 50);
	--highlight-high: rgb(195, 210, 195);
	--highlight-low: rgb(125, 130, 125);
	--containers: rgb(32, 36, 32);
	--button-to-top: url('../img/layout/img-btn-to-top.png');
	--button-to-top-hover: url('../img/layout/img-btn-to-top-hover.png');
}

#btn-back-to-top {
	position: fixed;
	bottom: 1vh;
	right: 1vw;
	width: 65px;
	height: 65px;
	background-size: 65px 65px;
	background-image: var(--button-to-top);
}

#btn-back-to-top:hover {
	background-image: var(--button-to-top-hover);
	transform: scale(1.02)
}

.bootstrap-row {
	background-color: var(--secondary);
	border-radius: 10px
}

.bootstrap-col {
	margin: 5px 0px;
	padding: 0px;
}

.nav-pills .nav-link {
	background-color: var(--secondary);
	height: 7.5vh;
	margin: 0px 3%;
}

.nav-pills .nav-link:hover {
	background-color: var(--highlight-low);
	color: var(--primary);
	transform: scale(1.02);
}

.nav-pills .nav-link.active {
	background-color: var(--highlight-high);
	color: var(--primary);
}

.product-thumbnail-container {
	background-color: var(--containers);
	border-radius: 3px;
	height: 100%;
	padding: 5px 0px 0px 0px;
	margin: auto;
	width: 98%;
}

.product-thumbnail-container:hover .product-thumbnail-img {
	transform: scale(1.1);
}

.img-wrapper {
	display: inline-block;
	overflow: hidden;
	border-radius: 5px;
}

.product-thumbnail-img {
	object-fit: contain;
	transition: all 0.25s ease-in-out;

	height: 100%;
	width: 100%;
	max-height: 200px;
}

body {
	background-color: var(--backgrond-primary);
	color: var(--text-primary);
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: var(--primary);
	color:var(--text-primary);
	height: 15vh;
}

nav a, .product-thumbnail-container a {
	color: var(--text-primary);
}

nav a:hover, .product-thumbnail-container a:hover {
	color: var(--highlight-low);
}

nav img {
	width: 10vh;
	height: 10vh;
	margin: 1vh;
}

@media (max-width: 569px) {
	nav {
		height: 30vh;
	}
}